@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Chakra+Petch&family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.heading-secondary {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.75rem;
  text-shadow: rgba(87, 77, 67, 0.6);
  letter-spacing: 2px;
  margin: 0.5rem;
  text-align: center;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  overflow: hidden;
  z-index: -1;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #d5c9c3;
  background-color: #574d43;
  padding: 0.5rem 0.25rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 1px 0px 5px #241d19;
          box-shadow: 1px 0px 5px #241d19;
}

.button:active {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.logo {
  display: inline-block;
  cursor: pointer;
  padding: 3rem 1rem 0 1rem;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 400;
  font-size: 3rem;
  color: #a3897b;
}

.logo-text {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.logo-span {
  color: #d5c9c3;
}

.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  position: absolute;
  top: 0.8rem;
  right: 0.5rem;
  -webkit-transition: -webkit-transform 0.3s 0.1s ease-in-out;
  transition: -webkit-transform 0.3s 0.1s ease-in-out;
  transition: transform 0.3s 0.1s ease-in-out;
  transition: transform 0.3s 0.1s ease-in-out, -webkit-transform 0.3s 0.1s ease-in-out;
}

.hamburger--active {
  -webkit-transform: translateX(-12rem);
          transform: translateX(-12rem);
}

.hamburger__box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: background-color 0.2s 0.1s ease-in-out;
  transition: background-color 0.2s 0.1s ease-in-out;
}

.hamburger__inner::before, .hamburger__inner::after {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  content: "";
  left: 0;
  -webkit-transition: -webkit-transform 0.3s 0.1s ease-in-out;
  transition: -webkit-transform 0.3s 0.1s ease-in-out;
  transition: transform 0.3s 0.1s ease-in-out;
  transition: transform 0.3s 0.1s ease-in-out, -webkit-transform 0.3s 0.1s ease-in-out;
}

.hamburger__inner::before {
  top: -10px;
  background-color: #a3897b;
}

.hamburger__inner::after {
  top: 10px;
  background-color: #d5c9c3;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  -webkit-transform: translateY(10px) rotate(225deg);
          transform: translateY(10px) rotate(225deg);
}

.hamburger--active .hamburger__inner::after {
  -webkit-transform: translateY(-10px) rotate(-225deg);
          transform: translateY(-10px) rotate(-225deg);
}

.footer {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 1rem;
  background: rgba(36, 29, 25, 0.8);
}

.footer .logo {
  padding: 1rem 0;
  width: 90%;
  border-bottom: 2px solid #d5c9c3;
}

.footer-box__paragraph {
  padding: 0.5rem;
}

.footer-socials {
  cursor: pointer;
  margin: auto;
  width: 10rem;
  border-top: 2px solid #d5c9c3;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.footer-socials--photo {
  padding: 0.5rem 0;
  color: #fff;
  width: 100%;
}

.footer-socials--photo:active {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.header {
  text-align: center;
  height: 25rem;
  z-index: 1;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(87, 77, 67, 0.6)), to(rgba(36, 29, 25, 0.8))), url(../images/background.jpg);
  background-image: linear-gradient(to top, rgba(87, 77, 67, 0.6), rgba(36, 29, 25, 0.8)), url(../images/background.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.header__text-box {
  width: 90%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.header__text-box .heading-primary {
  color: #d5c9c3;
  margin-top: 3rem;
  padding: 1rem;
}

.header__text-box .heading-primary--main {
  display: inline-block;
  margin: 0.5rem 0;
  font-weight: 400;
}

.header__text-box .heading-primary--sub {
  display: inline-block;
  font-weight: 100;
}

.navigation {
  width: 12rem;
  height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 45;
  border-radius: .5rem;
  background-color: rgba(36, 29, 25, 0.8);
  -webkit-transform: translateX(12rem);
          transform: translateX(12rem);
}

.navigation--active {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}

.navigation__list {
  list-style: none;
  margin-top: 3rem;
}

.navigation__item a {
  text-decoration: none;
  color: #d5c9c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5rem auto;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.navigation__item a:hover {
  width: 80%;
  background-color: #d5c9c3;
  color: #241d19;
  border-radius: 1rem;
  -webkit-box-shadow: 1px 0px 5px rgba(255, 255, 255, 0.8);
          box-shadow: 1px 0px 5px rgba(255, 255, 255, 0.8);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navigation__item a:active {
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.section-about {
  background-color: #d5c9c3;
  margin-top: -4rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  z-index: 1;
}

.section-about .row {
  margin: 0 1.5rem;
}

.section-about .row .col-1-of-2 .feature-box__heading {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 1rem;
}

.section-about .row .col-1-of-2 .feature-box__text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 2rem;
}

.section-about .row .composition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

.section-about .row .composition .flex-photo {
  -webkit-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  margin: 0.25rem;
  width: 31%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-about .row .composition .flex-photo:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: all 0.4s 0.1s ease-in-out;
  transition: all 0.4s 0.1s ease-in-out;
}

.section-features {
  width: 100%;
  height: 68rem;
  margin-top: -6rem;
  padding-top: 7rem;
  background: -webkit-gradient(linear, right top, left bottom, from(#a3897b), to(#574d43));
  background: linear-gradient(to bottom left, #a3897b, #574d43);
}

.section-features .feature-box {
  margin: 1rem auto;
  border-radius: 5px;
  padding: 1.5rem 0.5rem;
  width: 60%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 1px 0px 5px rgba(213, 201, 195, 0.8);
          box-shadow: 1px 0px 5px rgba(213, 201, 195, 0.8);
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.section-features .feature-box .icon-svg {
  width: 4rem;
}

.section-features .feature-box__heading {
  padding: 0.5rem 0;
}

.section-features .feature-box:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  margin: 2rem auto;
  -webkit-transition: all 0.4s 0.1s ease-in-out;
  transition: all 0.4s 0.1s ease-in-out;
}

.section-feedback {
  width: 100%;
  height: 51.5rem;
  padding: 2rem;
  background: -webkit-gradient(linear, right top, left bottom, from(#a3897b), to(#574d43));
  background: linear-gradient(to bottom left, #a3897b, #574d43);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.section-feedback .feedback {
  background: #fff;
  margin: 2rem;
  padding: 1.5rem 0.75rem;
  border-radius: 1rem;
  -webkit-box-shadow: 1px 0px 5px rgba(213, 201, 195, 0.8);
          box-shadow: 1px 0px 5px rgba(213, 201, 195, 0.8);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  font-family: "Roboto", sans-serif;
}

.section-feedback .feedback__img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-feedback .feedback__caption {
  padding-top: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.section-feedback .feedback__text__heading {
  margin-bottom: 1rem;
}

.section-feedback .button-box {
  text-align: center;
}

.section-feedback .button-box .button {
  cursor: pointer;
  background-color: #d5c9c3;
  color: #574d43;
  -webkit-box-shadow: 1px 0px 5px #a3897b;
          box-shadow: 1px 0px 5px #a3897b;
}

.section-contact {
  background: -webkit-gradient(linear, right top, left bottom, from(#a3897b), to(#574d43));
  background: linear-gradient(to bottom left, #a3897b, #574d43);
  -webkit-box-shadow: 1px 0px 5px rgba(213, 201, 195, 0.8);
          box-shadow: 1px 0px 5px rgba(213, 201, 195, 0.8);
}

.section-contact .row {
  padding: 2rem 0;
}

.section-contact .row .contact {
  width: 70%;
  height: 100%;
  margin: auto;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.section-contact .row .contact .form__group {
  margin: 1.5rem;
  text-align: center;
}

.section-contact .row .contact .form__group .form__input {
  width: 100%;
  resize: none;
  padding: 0.25rem;
  border: 1px solid #574d43;
  border-radius: 0.5rem;
}

.section-contact .row .contact .form__group .button {
  width: 30%;
  height: 5%;
  padding: 0.25rem 0.1rem;
  border-radius: 0.5rem;
  border: 1px solid #574d43;
}
/*# sourceMappingURL=main.css.map */