$primary-light-brown-color: rgb(163, 137, 123);
$secondary-color: rgb(213, 201, 195);
$brown-color: rgb(87, 77, 67);
$dark-brown-color: rgb(36, 29, 25);
$transparent-secondary-color:rgba(213, 201, 195, 0.8);
$transparent-light-brown-color:rgba(87, 77, 67, 0.6);
$transparent-dark-brown-color:rgba(36, 29, 25, 0.8);